{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",

	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
