@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fairfax Pona HD';
	src: url('./fonts/FairfaxPonaHD.woff2') format('woff2'),
		url('./fonts/FairfaxPonaHD.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFRounded';
	src: url('./fonts/subset-SFRounded-Bold.woff2') format('woff2'),
		url('./fonts/subset-SFRounded-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFProText';
	src: url('./fonts/subset-SFProText-Bold.woff2') format('woff2'),
		url('./fonts/subset-SFProText-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFProText';
	src: url('./fonts/subset-SFProText-Regular.woff2') format('woff2'),
		url('./fonts/subset-SFProText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFProText';
	src: url('./fonts/subset-SFProText-RegularItalic.woff2') format('woff2'),
		url('./fonts/subset-SFProText-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@layer base {
	html {
		scroll-padding-top: 4rem;
		scroll-behavior: smooth;

		scrollbar-width: thin;

		--scrollbar-bg: #fff;
		--scrollbar-thumb: #0004;

		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
		scrollbar-gutter: stable;
	}

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: var(--scrollbar-bg);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb);
	}

	html.dark {
		--scrollbar-bg: #000;
		--scrollbar-thumb: #fff4;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display;
	}

	.no-transition {
		transition: none !important;
	}

	.no-transition * {
		transition: none !important;
	}
}

@layer components {
	.interactable {
		@apply cursor-pointer border border-gray-200 rounded-lg overflow-hidden select-none hocus:border-gray-400 focus:outline-none transition-colors
			dark:bg-black dark:border-gray-800 dark:hocus:border-gray-700;
	}

	.faded {
		@apply text-gray-500 dark:text-gray-400;
	}
}
