@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fairfax Pona HD';
	src: url('/FairfaxPonaHD.woff2') format('woff2'),
		url('/FairfaxPonaHD.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@layer base {
	html {
		scroll-padding-top: 4rem;
		scroll-behavior: smooth;

		scrollbar-width: thin;

		--scrollbar-bg: #fff;
		--scrollbar-thumb: #0004;

		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
	}

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: var(--scrollbar-bg);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb);
	}

	html.dark {
		--scrollbar-bg: #000;
		--scrollbar-thumb: #fff4;
	}
}
